nav {
    height: 60px;
}

.login_form {
    height: auto;
}

.navbar {
    position: absolute;
    top: 0px;
    width: 100%;
}

body {
    height: 100vh;
}

.navbar>.container-fluid {
    background: white;
    z-index: 2;
}

.login_container {
    position: relative;
    height: 100%;
    padding-top: 60px;
}

.profile_container {
    position: relative;
    height: 100%;
    padding-top: 60px;
}

.room_container {
    position: relative;
    height: 100%;
    padding-top: 60px;
}

.chatroom_home_container {
    position: relative;
    height: 100%;
    padding-top: 60px;
}

.find_competitions_page_container {
    position: relative;
    height: 100%;
    padding-top: 60px;
}

.home_page_container {
    position: relative;
    height: 100%;
    padding-top: 60px;
}

.tinder {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
    opacity: 1;
}

.tinder--status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.tinder--status i {
    font-size: 100px;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    margin-left: -50px;
}

.tinder_love .fa-heart {
    opacity: 0.7;
    transform: scale(1);
}

.tinder_nope .fa-remove {
    opacity: 0.7;
    transform: scale(1);
}

.tinder--cards {
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    z-index: 1;
}

.tinder--card {
    display: inline-block;
    width: 90vw;
    max-width: 400px;
    min-height: 100px;
    background: #b0f6f0;
    padding-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.moving.tinder--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.tinder--card img {
    max-width: 100%;
    pointer-events: none;
}

.tinder--card h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 16px;
    pointer-events: none;
}

.tinder--card p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
}

.tinder--buttons {
    flex: 0 0 100px;
    text-align: center;
    padding-top: 20px;
}

.tinder--buttons button {
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    border: 0;
    background: #FFFFFF;
    display: inline-block;
    margin: 0 8px;
}

.tinder--buttons button:focus {
    outline: 0;
}

.tinder--buttons i {
    font-size: 32px;
    vertical-align: middle;
}

.fa-heart {
    color: #FFACE4;
}

.fa-remove {
    color: #CDD6DD;
}