<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="/static/styles/global.css" />
  <link rel="stylesheet" href="/static/styles/index.css" />
</head>

<body>
  <div class="slide50-1-parent">
    <div class="slide1">
      <div class="group49">
        <img class="vector-icon159" alt="" src="/static/images/public/undefined144.png" />
        <img class="clip-path-group62" alt="" src="/static/images/public/undefined145.png" />
        <img class="rectangle-icon8" alt="" src="/static/images/public/undefined146.png" />
        <img class="rectangle-icon9" alt="" src="/static/images/public/undefined147.png" />
      </div>
    </div>
    <div class="slide2">
      <div class="group48">
        <img class="vector-icon148" alt="" src="/static/images/public/undefined128.png" />
        <img class="vector-icon149" alt="" src="/static/images/public/undefined129.png" />
        <img class="vector-icon150" alt="" src="/static/images/public/undefined130.png" />
        <img class="rectangle-icon2" alt="" src="/static/images/public/undefined131.png" />
        <img class="vector-icon151" alt="" src="/static/images/public/undefined132.png" />
        <img class="vector-icon152" alt="" src="/static/images/public/undefined133.png" />
        <img class="rectangle-icon3" alt="" src="/static/images/public/undefined134.png" />
        <img class="vector-icon153" alt="" src="/static/images/public/undefined135.png" />
        <img class="vector-icon154" alt="" src="/static/images/public/undefined136.png" />
        <img class="rectangle-icon4" alt="" src="/static/images/public/undefined137.png" />
        <img class="vector-icon155" alt="" src="/static/images/public/undefined138.png" />
        <img class="vector-icon156" alt="" src="/static/images/public/undefined139.png" />
        <img class="rectangle-icon5" alt="" src="/static/images/public/undefined140.png" />
        <img class="vector-icon157" alt="" src="/static/images/public/undefined132.png" />
        <img class="vector-icon158" alt="" src="/static/images/public/undefined141.png" />
        <img class="rectangle-icon6" alt="" src="/static/images/public/undefined142.png" />
        <img class="rectangle-icon7" alt="" src="/static/images/public/undefined143.png" />
      </div>
    </div>
    <div class="slide3">
      <div class="group47">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <div class="about-sightpath">ABOUT SIGHTPATH</div>
        <div class="div245">我們是一群對資訊領域感興趣的高中生</div>
        <div class="div246">在國高中六年中，我們都經歷長時間的補習與考試</div>
        <div class="div247">最後卻被學測成績，草率地定義了我們的努力成果</div>
        <div class="div248">我們想嘗試點不一樣的事情</div>
        <div class="div249">在現有的環境中，找出一條不一樣的道路</div>
        <div class="div250">帶給學生更多讀書以外的視野</div>
        <div class="to-create-a">To create a SightPath.</div>
      </div>
    </div>
    <div class="slide4">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <div class="div241">在切入今天的主題之前</div>
        <div class="div242">請先停下來一起想一下</div>
        <div class="div243">你覺得，一個學生的國中和高中階段</div>
        <div class="div244">應該具備哪些元素呢？</div>
      </div>
    </div>
    <div class="slide5">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="vector-icon36" alt="" src="/static/images/public/undefined34.png" />
        <img class="vector-icon37" alt="" src="/static/images/public/undefined35.png" />
        <img class="vector-icon34" alt="" src="/static/images/public/undefined32.png" />
        <b class="part-4">Part 1</b>
        <b class="b228">漠視生涯規劃</b>
        <b class="b229">將帶來哪些危機</b>
        <img class="vector-icon35" alt="" src="/static/images/public/undefined33.png" />
        <b class="b230">規劃學習生涯的重要性被廣大學生與家長忽視！</b>
        <b class="b231">這對學生選大學有什麼影響？長期以來又會有哪些變因？</b>
      </div>
    </div>
    <div class="slide6">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <div class="div227">探索自我</div>
        <div class="div228">發展興趣</div>
        <b class="b227">規劃學習生涯</b>
        <div class="div229">自主學習</div>
        <div class="div230">學科能力</div>
        <div class="div231">培養人際關係</div>
        <div class="div232">
          前個問題，隨著關注的面向不同，大家所重視的能力特質跟著改變。
        </div>
        <div class="div233">若從未來校系選擇甚至是職涯探索的角度切入，</div>
        <div class="div234">這些元素很常被提及：</div>
        <div class="div235">社團</div>
        <div class="div236">學測</div>
        <div class="div237">/</div>
        <div class="div238">分科</div>
        <div class="div239">素養能力</div>
        <div class="div240">自主性</div>
      </div>
    </div>
    <div class="slide7">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="vector-icon" alt="" src="/static/images/public/undefined125.png" />
        <img class="vector-icon138" alt="" src="/static/images/public/undefined126.png" />
        <div class="div219">我們認為學生應該在國高中時期</div>
        <div class="div220">從對某些領域略有所知開始</div>
        <div class="div221">探索自己感興趣的領域</div>
        <div class="div222">直到清楚未來的學習方向</div>
        <div class="div223">而後才是在大學時作出選擇</div>
        <img class="vector-icon139" alt="" src="/static/images/public/undefined127.png" />
        <div class="div224">但現在的學習環境，讓學生與家長們</div>
        <div class="div225">將絕大多數的心力放在課業上</div>
        <b class="b226">生涯規劃的重要性，就被這麼忽視了</b>
        <div class="div226">。</div>
      </div>
    </div>
    <div class="slide8">
      <div class="group">
        <div class="group42">
          <img class="vector-icon135" alt="" src="/static/images/public/undefined.png" />
          <b class="b218">考試分數落在這個科系</b>
          <div class="div212">個人興趣考量</div>
          <div class="div213">完全由父母或長輩決定</div>
          <div class="div214">未來就業市場考量</div>
          <img class="group-icon14" alt="" src="/static/images/public/undefined122.png" />
          <b class="b219">40.3%</b>
          <b class="b220">33.1%</b>
          <b class="b221">15.7%</b>
          <b class="b222">10.9%</b>
          <b class="b223">學生對於未來的思考不謹慎</b>
          <b class="b224">依照個人興趣選擇志願的人</b>
          <b class="b225">僅有三成</b>
          <div class="div215">此數據為</div>
          <div class="yes123">yes123</div>
          <div class="div216">求職網對</div>
          <div class="div217">112</div>
          <div class="div218">年度分科測驗生的調查結果</div>
          <img class="vector-icon136" alt="" src="/static/images/public/undefined123.png" />
          <img class="clip-path-group61" alt="" src="/static/images/public/undefined124.png" />
        </div>
      </div>
    </div>
    <div class="slide9">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="b214">若人生可以重來，僅有</b>
        <b class="b215">40%</b>
        <b class="b216">的人會重新選擇目前就讀的科系。</b>
        <b class="b217">反映學生容易在科系選擇時容易作出錯誤決策。</b>
        <img class="rectangle-icon" alt="" src="/static/images/public/undefined121.png" />
        <div class="div207">此數據為</div>
        <div class="div208">07</div>
        <div class="div209">-</div>
        <div class="div210">15</div>
        <div class="div211">年的台大畢業生經驗問卷</div>
      </div>
    </div>
    <div class="slide10-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="vector-icon111" alt="" src="/static/images/public/undefined101.png" />
        <img class="vector-icon112" alt="" src="/static/images/public/undefined102.png" />
        <img class="clip-path-group59" alt="" src="/static/images/public/undefined120.png" />
        <b class="b209">多數學生在國高中時期未去探索他感興趣的領域，</b>
        <b class="b210">導致他們很有可能因為選錯校系而對生涯感到迷惘。</b>
        <b class="b211">此時，教育資源便無法傳遞到適合的人身上，</b>
        <b class="b212">莘莘學子將無法發揮他的才能，而這將是一件很可惜的事情。</b>
        <b class="b213">學習生涯的問題為什麼需要社會嚴肅以待？</b>
      </div>
    </div>
    <div class="slide11-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="vector-icon34" alt="" src="/static/images/public/undefined32.png" />
        <img class="vector-icon35" alt="" src="/static/images/public/undefined33.png" />
        <b class="b52">學校輔導無力，學生轉向網路尋求資源。</b>
        <b class="b54">而自主學習卡在哪裡？學習生涯中會有哪些痛點呢？</b>
        <img class="vector-icon36" alt="" src="/static/images/public/undefined34.png" />
        <img class="vector-icon37" alt="" src="/static/images/public/undefined35.png" />
        <b class="part-2">Part 2</b>
        <b class="b208">網路環境怎麼了？</b>
      </div>
    </div>
    <div class="slide12-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <div class="div199">除了家長與同儕間以成績為重的觀念盛行</div>
        <div class="div200">都進一步導致學生不願意探索學習生涯</div>
        <b class="b205">學生為什麼從校園轉而尋找網路資源</b>
        <img class="group-icon13" alt="" src="/static/images/public/undefined117.png" />
        <div class="div201">優質資訊只在明星學校</div>
        <div class="div202">與特殊班級間流通</div>
        <div class="div203">自主學習與生涯規</div>
        <div class="div204">劃課程沒有個人輔導</div>
        <img class="clip-path-group57" alt="" src="/static/images/public/undefined118.png" />
        <img class="clip-path-group58" alt="" src="/static/images/public/undefined119.png" />
        <div class="div205">缺乏與有經驗的</div>
        <div class="div206">對象對談的契機</div>
      </div>
    </div>
    <div class="slide13-1">
      <div class="group">
        <div class="group37">
          <img class="vector-icon122" alt="" src="/static/images/public/undefined.png" />
          <img class="vector-icon123" alt="" src="/static/images/public/undefined115.png" />
          <b class="b187">規劃學習生涯的痛點</b>
          <div class="div193">由</div>
          <b class="b188">基本認識</b>
          <b class="b189">→</b>
          <b class="b190">產生興趣</b>
          <b class="b191">→</b>
          <b class="b192">深入瞭解</b>
          <b class="b193">→</b>
          <b class="b194">初次嘗試</b>
          <div class="div194">所構成的學習生涯</div>
          <div class="div195">多數學生因為缺乏資源而卡在「</div>
          <b class="b195">基本認識</b>
          <div class="div196">」或「</div>
          <b class="b196">深入瞭解</b>
          <div class="div197">」階段</div>
          <div class="div198">因此我們便要從這兩階段討論學生遭遇的痛點。</div>
          <b class="b197">基本認識</b>
          <b class="b198">對該領域的輪廓有基本認識。</b>
          <b class="b199">產生興趣</b>
          <b class="b200">汲取別人的經驗而對該科系產生憧憬。</b>
          <b class="b201">深入瞭解</b>
          <b class="b202">主動蒐集資料，對該領域的瞭解加深。</b>
          <b class="b203">初次嘗試</b>
          <b class="b204">實際投入該領域中並學習該領域的知識。</b>
          <img class="vector-icon124" alt="" src="/static/images/public/undefined116.png" />
        </div>
      </div>
    </div>
    <div class="slide14-1">
      <div class="group">
        <div class="group36">
          <img class="vector-icon119" alt="" src="/static/images/public/undefined.png" />
          <img class="vector-icon120" alt="" src="/static/images/public/undefined104.png" />
          <img class="clip-path-group54" alt="" src="/static/images/public/undefined112.png" />
          <img class="clip-path-group54" alt="" src="/static/images/public/undefined113.png" />
          <img class="vector-icon121" alt="" src="/static/images/public/undefined114.png" />
          <div class="div186">經過生涯輔導課或在網路媒體得到資訊後</div>
          <div class="div187">學生通常會獲得部分學群或學類的認識</div>
          <b class="b180">但學生不一定有契機</b>
          <b class="b181">讓他們進一步對該領域產生興趣</b>
          <b class="b182">1.</b>
          <b class="b183">從基本認識</b>
          <b class="b184">→</b>
          <b class="b185">產生興趣</b>
          <div class="div188">因此，我們希望可以</div>
          <b class="b186">藉由增加更多有經驗者與學生交流的契機</b>
          <div class="div189">讓他們分享學習經歷、交流關於該領域的想法</div>
          <div class="div190">讓每個學生都可以找到自己感興趣的內容是</div>
          <div class="sightpath13">SightPath</div>
          <div class="div191">的</div>
          <div class="div192">第一步</div>
        </div>
      </div>
    </div>
    <div class="slide15-1">
      <div class="group">
        <div class="group35">
          <img class="vector-icon116" alt="" src="/static/images/public/undefined.png" />
          <b class="b174">2.</b>
          <b class="b175">從深入瞭解</b>
          <b class="b176">→</b>
          <b class="b177">初次嘗試，我們的經驗是：</b>
          <img class="vector-icon117" alt="" src="/static/images/public/undefined108.png" />
          <b class="b178">透過提前投入感興趣的領域並累積經驗</b>
          <b class="b179">學生未來的科系選擇能夠更貼合所學。</b>
          <div class="div181">社團活動讓學生們聚集起來</div>
          <div class="div182">彼此互動、交流，並分享彼此的資訊。</div>
          <div class="div183">而各式研討會、論壇與營隊</div>
          <div class="div184">聚集了對同一領域感興趣的人們</div>
          <div class="div185">協助進一步影響學生投入該領域。</div>
          <img class="clip-path-group51" alt="" src="/static/images/public/undefined109.png" />
          <img class="clip-path-group51" alt="" src="/static/images/public/undefined110.png" />
          <img class="vector-icon118" alt="" src="/static/images/public/undefined111.png" />
        </div>
      </div>
    </div>
    <div class="slide16-1">
      <div class="group">
        <div class="group34">
          <img class="vector-icon113" alt="" src="/static/images/public/undefined.png" />
          <b class="b167">2.</b>
          <b class="b168">從深入瞭解</b>
          <b class="b169">→</b>
          <b class="b170">初次嘗試，問題怎麼解決？</b>
          <img class="vector-icon114" alt="" src="/static/images/public/undefined104.png" />
          <img class="group-icon12" alt="" src="/static/images/public/undefined105.png" />
          <img class="group-icon12" alt="" src="/static/images/public/undefined106.png" />
          <img class="vector-icon115" alt="" src="/static/images/public/undefined107.png" />
          <b class="b171">但學生受限於經驗不足</b>
          <b class="b172">他們難以得知與個人興趣相符的社群或活動</b>
          <div class="div176">除此之外，相關資源的獲取途徑也十分稀缺</div>
          <div class="div177">反映了學生規劃學習生涯時缺乏合適的契機</div>
          <div class="div178">導致學生難以實際投入他感興趣的領域</div>
          <div class="div179">因此，我們希望可以</div>
          <b class="b173">根據學生的個人特質和興趣，提供個性化的資源</b>
          <div class="div180">並引導學生深入學習，是生涯規劃的主要解方。</div>
        </div>
      </div>
    </div>
    <div class="slide17-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="vector-icon111" alt="" src="/static/images/public/undefined101.png" />
        <img class="vector-icon112" alt="" src="/static/images/public/undefined102.png" />
        <img class="clip-path-group47" alt="" src="/static/images/public/undefined103.png" />
        <b class="b160">學生在規劃學習生涯時因為</b>
        <b class="b161">1.</b>
        <b class="b162">缺乏與有經驗對象的交流契機，使得學生對某個領域難以產生興趣</b>
        <b class="b163">2.</b>
        <b class="b164">因為缺乏該領域的經驗，導致他們難以獲取有幫助的資訊</b>
        <b class="b165">所導致的「學生科系選擇困難」及後續「學生對未來沒目標」的問題。</b>
        <b class="b166">所以你們看到了哪些痛點？</b>
      </div>
    </div>
    <div class="slide18-1">
      <div class="group">
        <div class="group32">
          <img class="vector-icon108" alt="" src="/static/images/public/undefined.png" />
          <img class="vector-icon108" alt="" src="/static/images/public/undefined100.png" />
          <b class="b156">從「提供個人化輔助」出發</b>
          <b class="b157">我們將創造一個平台</b>
          <b class="sightpath12">SightPath</b>
          <b class="b158">透過分析學生的個人特質與興趣</b>
          <b class="b159">精確且長期地推薦適合該學生的資源</b>
        </div>
      </div>
    </div>
    <div class="slide19-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="vector-icon34" alt="" src="/static/images/public/undefined32.png" />
        <img class="vector-icon35" alt="" src="/static/images/public/undefined33.png" />
        <b class="b105">我們將在這個章節討論生涯規劃問題的解方：</b>
        <b class="b107">透過學生的個人輪廓，提供學生最精準的資訊。</b>
        <img class="vector-icon36" alt="" src="/static/images/public/undefined34.png" />
        <img class="vector-icon37" alt="" src="/static/images/public/undefined35.png" />
        <b class="part-4">Part 3</b>
        <b class="b154">創造一個適性化</b>
        <b class="b111">資訊整合平台</b>
      </div>
    </div>
    <div class="slide20-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="b132">理想的學習模樣</b>
        <b class="b147">該是怎樣呢？</b>
        <div class="div169">
          如同現今在學校中，學生可以加入社團活動並從中學習
        </div>
        <div class="div170">學生應該依照他的</div>
        <b class="b148">個人興趣</b>
        <div class="div171">，</div>
        <b class="b149">自由選擇</b>
        <div class="div172">他所嚮往的環境或團體</div>
        <div class="div173">從中聽聞不同領域的樣貌、接觸到志同道合的人</div>
        <div class="div174">瞭解自己該做什麼，並獲得相對應的幫助</div>
        <div class="div175">從而</div>
        <b class="b150">找到自己的才能所在</b>
        <b class="b151">。</b>
      </div>
    </div>
    <div class="slide21-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="b132">理想的學習模樣</b>
        <b class="b133">讓我們這樣實現它！</b>
        <div class="div163">
          如同現今在學校中，學生可以加入社團活動並從中學習
        </div>
        <div class="div164">
          學生應該依照他的個人興趣，自由選擇他所嚮往的環境或團體
        </div>
        <div class="div165">從中聽聞不同領域的樣貌、接觸到志同道合的人</div>
        <div class="div166">瞭解自己該做什麼，並獲得相對應的幫助</div>
        <div class="div167">從而</div>
        <b class="b134">找到自己的才能所在</b>
        <div class="div168">。</div>
        <img class="clip-path-group44" alt="" src="/static/images/public/undefined98.png" />
        <b class="b135">他的個人興趣</b>
        <b class="b136">自由選擇</b>
        <b class="b137">透過進行個人特質與興趣的測驗</b>
        <b class="b138">建立個人輪廓</b>
        <b class="b139">分析他對各種資源可能的喜愛程度</b>
        <img class="clip-path-group45" alt="" src="/static/images/public/undefined99.png" />
        <b class="b140">根據個人輪廓</b>
        <b class="b141">推薦我們所整合的資源</b>
        <b class="b142">以活動為主，並包含社群、課程、比賽等資訊</b>
        <b class="b143">而後</b>
        <b class="b144">透過演算法動態調整推薦的內容</b>
        <b class="b145">讓資訊盡可能符合學生所需</b>
      </div>
    </div>
    <div class="slide22-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="waiting-for2">WAITING FOR</b>
        <b class="b119">概念流程圖</b>
        <img class="clip-path-group33" alt="" src="/static/images/public/undefined85.png" />
        <b class="b120">產品流程圖</b>
        <div class="div162">從這樣的概念，發展出這樣的流程圖</div>
      </div>
    </div>
    <div class="slide23-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="waiting-for">WAITING FOR</b>
        <b class="b112">概念流程圖</b>
        <b class="b113">產品流程圖</b>
        <img class="clip-path-group33" alt="" src="/static/images/public/undefined85.png" />
        <img class="vector-icon" alt="" src="/static/images/public/undefined95.png" />
        <div class="div153">我們將參考興趣量表的題目架構，設計約</div>
        <div class="div154">5</div>
        <div class="div155">分鐘的問答，</div>
        <div class="div156">
          題目涵蓋「感興趣的領域」、「喜歡的課程」等面相。
        </div>
        <img class="clip-path-group42" alt="" src="/static/images/public/undefined96.png" />
        <img class="vector-icon99" alt="" src="/static/images/public/undefined97.png" />
        <div class="div157">以測驗分析出使用者的個性輪廓、</div>
        <div class="div158">參與各種活動的意願、需要的幫助等等資訊</div>
        <div class="div159">從而</div>
        <div class="div160">建立個人輪廓</div>
        <div class="div161">，精準化後續的資訊推送。</div>
        <b class="b129">進行測驗並建立個人輪廓</b>
      </div>
    </div>
    <div class="slide24-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="waiting-for">WAITING FOR</b>
        <b class="b112">概念流程圖</b>
        <b class="b113">產品流程圖</b>
        <img class="clip-path-group33" alt="" src="/static/images/public/undefined85.png" />
        <img class="vector-icon" alt="" src="/static/images/public/undefined94.png" />
        <div class="div145">我們的目標是透過</div>
        <b class="b124">與其他平台或內容提供者合作，來進行資訊整合。</b>
        <div class="div146">
          我們將收錄那些能夠「刺激學生產生興趣」或「引導他們投入特定領域」
        </div>
        <div class="div147">
          的活動與社群，並以相關的文章、課程等內容作為輔助。
        </div>
        <div class="div148">
          而在產品雛形階段，我們將會先以爬蟲爬取適合的資訊匯入我們的資料庫中。
        </div>
        <div class="div149">透過</div>
        <b class="ai2">AI</b>
        <div class="div150">以及</div>
        <b class="b125">資源提供者協作</b>
        <div class="div151">的方式</div>
        <div class="div152">標記資訊的標籤作後續的索引。</div>
        <b class="b115">獲取資料並標記</b>
      </div>
    </div>
    <div class="slide25-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="waiting-for2">WAITING FOR</b>
        <b class="b119">概念流程圖</b>
        <b class="b120">產品流程圖</b>
        <img class="clip-path-group33" alt="" src="/static/images/public/undefined85.png" />
        <img class="vector-icon88" alt="" src="/static/images/public/undefined91.png" />
        <img class="vector-icon89" alt="" src="/static/images/public/undefined92.png" />
        <img class="vector-icon90" alt="" src="/static/images/public/undefined92.png" />
        <b class="b121">使用者介面</b>
        <div class="div143">將蒐集到的內容依照個人輪廓</div>
        <div class="div144">以聚焦版面呈現</div>
        <img class="clip-path-group39" alt="" src="/static/images/public/undefined93.png" />
      </div>
    </div>
    <div class="slide26-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="waiting-for1">WAITING FOR</b>
        <b class="b116">概念流程圖</b>
        <b class="b117">產品流程圖</b>
        <img class="clip-path-group33" alt="" src="/static/images/public/undefined85.png" />
        <img class="vector-icon88" alt="" src="/static/images/public/undefined91.png" />
        <img class="vector-icon89" alt="" src="/static/images/public/undefined92.png" />
        <img class="vector-icon90" alt="" src="/static/images/public/undefined92.png" />
        <div class="div139">根據一個人的生涯測驗興趣偏好分數</div>
        <div class="div140">活動的綜合評分等參數</div>
        <div class="div141">計算各資訊的推薦順序</div>
        <div class="div142">並根據使用者回饋修正演算法</div>
        <b class="b118">演算法調整推薦功能</b>
      </div>
    </div>
    <div class="slide27-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="b113">產品流程圖</b>
        <img class="clip-path-group33" alt="" src="/static/images/public/undefined85.png" />
        <img class="vector-icon" alt="" src="/static/images/public/undefined89.png" />
        <div class="div135">通過性向問題測驗</div>
        <div class="div136">將各問題的領域傾向分數加權計算</div>
        <div class="div137">得出學生的興趣偏向，並寫入資料庫中</div>
        <div class="div138">最終以儀表板的形式呈現給使用者</div>
        <img class="clip-path-group36" alt="" src="/static/images/public/undefined90.png" />
        <b class="b115">個人輪廓儀表板</b>
      </div>
    </div>
    <div class="slide28-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="waiting-for">WAITING FOR</b>
        <b class="b112">概念流程圖</b>
        <b class="b113">產品流程圖</b>
        <img class="clip-path-group33" alt="" src="/static/images/public/undefined85.png" />
        <img class="vector-icon" alt="" src="/static/images/public/undefined86.png" />
        <img class="vector-icon84" alt="" src="/static/images/public/undefined87.png" />
        <div class="div132">最後透過</div>
        <div class="line-notify1">Line Notify</div>
        <div class="div133">即時將一手資訊分享給使用者</div>
        <div class="div134">縮減網站與使用者的距離</div>
        <img class="clip-path-group34" alt="" src="/static/images/public/undefined88.png" />
      </div>
    </div>
    <div class="slide29-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="vector-icon34" alt="" src="/static/images/public/undefined32.png" />
        <img class="vector-icon35" alt="" src="/static/images/public/undefined33.png" />
        <b class="b105">這個章節將分析</b>
        <b class="sightpath11">SightPath</b>
        <b class="b106">的功能需求，</b>
        <b class="b107">並討論相對應的實作細節及技術架構。</b>
        <img class="vector-icon36" alt="" src="/static/images/public/undefined34.png" />
        <img class="vector-icon37" alt="" src="/static/images/public/undefined35.png" />
        <b class="part-4">Part 4</b>
        <b class="b108">透過這</b>
        <b class="b109">5</b>
        <b class="b110">個技術</b>
        <b class="b111">實現平台功能</b>
      </div>
    </div>
    <div class="slide30-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="clip-path-group29" alt="" src="/static/images/public/undefined67.png" />
        <img class="clip-path-group30" alt="" src="/static/images/public/undefined68.png" />
        <b class="front-end">Front End</b>
        <b class="web2">WEB</b>
        <b class="b86">技術</b>
        <b class="ai1">AI</b>
        <b class="b87">與推薦演算法</b>
        <img class="clip-path-group31" alt="" src="/static/images/public/undefined69.png" />
        <img class="vector-icon64" alt="" src="/static/images/public/undefined70.png" />
        <img class="group-icon9" alt="" src="/static/images/public/undefined71.png" />
        <img class="group-icon10" alt="" src="/static/images/public/undefined72.png" />
        <img class="vector-icon65" alt="" src="/static/images/public/undefined73.png" />
        <b class="back-end">Back End</b>
        <img class="vector-icon66" alt="" src="/static/images/public/undefined74.png" />
        <img class="group-icon11" alt="" src="/static/images/public/undefined75.png" />
        <img class="vector-icon67" alt="" src="/static/images/public/undefined76.png" />
        <b class="b88">網路爬蟲</b>
        <b class="gpt1">GPT</b>
        <b class="b89">-</b>
        <b class="b90">3.5</b>
        <b class="b91">-</b>
        <b class="turbo1">TURBO</b>
        <b class="recommender1">Recommender</b>
        <b class="system">System</b>
        <img class="vector-icon68" alt="" src="/static/images/public/undefined77.png" />
        <b class="line2">LINE</b>
        <b class="b92">推播</b>
        <img class="vector-icon69" alt="" src="/static/images/public/undefined78.png" />
        <b class="github">GitHub</b>
        <b class="b93">開源專案</b>
        <b class="b94">構建活動推薦系統</b>
        <b class="b95">並將活動資料進行標註</b>
        <b class="b96">打造前後端合一的</b>
        <b class="b97">資料庫與前端渲染系統</b>
        <img class="vector-icon70" alt="" src="/static/images/public/undefined79.png" />
        <img class="vector-icon71" alt="" src="/static/images/public/undefined80.png" />
        <b class="b98">通過</b>
        <b class="python2">Python</b>
        <b class="b99">爬取網路上的活動資源</b>
        <b class="b100">推播活動資訊</b>
        <b class="b101">彌補網站之不足</b>
        <b class="b102">吸引技術人才</b>
        <b class="b103">協作專案</b>
        <img class="vector-icon72" alt="" src="/static/images/public/undefined81.png" />
        <img class="clip-path-group32" alt="" src="/static/images/public/undefined82.png" />
        <img class="vector-icon73" alt="" src="/static/images/public/undefined81.png" />
        <img class="vector-icon74" alt="" src="/static/images/public/undefined81.png" />
        <img class="vector-icon75" alt="" src="/static/images/public/undefined83.png" />
        <img class="vector-icon76" alt="" src="/static/images/public/undefined84.png" />
        <b class="b104">技術構想</b>
      </div>
    </div>
    <div class="slide31-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <div class="div121">前端部份除了基礎的</div>
        <div class="html">HTML</div>
        <div class="div122">、</div>
        <div class="css">CSS</div>
        <div class="div123">、</div>
        <div class="javascript">JavaScript</div>
        <div class="div124">外，我們也使用了</div>
        <div class="react">React</div>
        <div class="js">JS</div>
        <div class="div125">、</div>
        <div class="animatecss">Animate.css</div>
        <div class="div126">以及</div>
        <div class="bootstrap">Bootstrap</div>
        <div class="div127">前端技術框架，幫助我們更快速的構</div>
        <div class="div128">建流暢且優美的</div>
        <div class="ui">UI</div>
        <div class="div129">畫面</div>
        <div class="div130">網站將以</div>
        <div class="rwd">RWD</div>
        <div class="div131">作為首要的設計原則</div>
        <img class="vector-icon39" alt="" src="/static/images/public/undefined38.png" />
        <b class="b60">網站架構</b>
        <img class="clip-path-group26" alt="" src="/static/images/public/undefined63.png" />
        <img class="group-icon8" alt="" src="/static/images/public/undefined64.png" />
        <img class="clip-path-group27" alt="" src="/static/images/public/undefined65.png" />
        <img class="clip-path-group28" alt="" src="/static/images/public/undefined66.png" />
        <b class="web1">Web</b>
        <b class="b85">技術</b>
      </div>
    </div>
    <div class="slide32-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <div class="div111">我們使用</div>
        <div class="python1">python</div>
        <div class="div112">作為後端的開發語言</div>
        <div class="div113">並使用</div>
        <div class="django1">Django</div>
        <div class="div114">的</div>
        <div class="mvt">MVT</div>
        <div class="div115">開發架構作為框架</div>
        <div class="div116">通過</div>
        <div class="view">view</div>
        <div class="div117">來控制</div>
        <div class="div118">前端頁面渲染</div>
        <div class="div119">與</div>
        <div class="div120">資料庫讀取</div>
        <img class="clip-path-group25" alt="" src="/static/images/public/undefined62.png" />
        <img class="vector-icon39" alt="" src="/static/images/public/undefined38.png" />
        <b class="b60">網站架構</b>
        <b class="web">Web</b>
        <b class="b83">技術</b>
      </div>
    </div>
    <div class="slide33-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="b77">活動資料獲取</b>
        <div class="div108">透過爬蟲取得網路上的活動資源，並將其轉成</div>
        <div class="fixturesjson">fixtures.json</div>
        <div class="div109">後由</div>
        <div class="django">django</div>
        <div class="loaddata">loaddata</div>
        <div class="div110">指令儲存進資料庫</div>
        <img class="clip-path-group21" alt="" src="/static/images/public/undefined56.png" />
        <b class="b78">爬蟲程式</b>
        <img class="clip-path-group22" alt="" src="/static/images/public/undefined57.png" />
        <b class="fixturesjson1">Fixtures.json</b>
        <img class="clip-path-group23" alt="" src="/static/images/public/undefined58.png" />
        <b class="b79">通過內建指令</b>
        <b class="b80">將檔案載入資料庫</b>
        <img class="clip-path-group24" alt="" src="/static/images/public/undefined59.png" />
        <b class="postgre">Postgre</b>
        <b class="sql">SQL</b>
        <img class="vector-icon55" alt="" src="/static/images/public/undefined60.png" />
        <img class="vector-icon56" alt="" src="/static/images/public/undefined61.png" />
        <img class="vector-icon57" alt="" src="/static/images/public/undefined61.png" />
        <img class="vector-icon39" alt="" src="/static/images/public/undefined38.png" />
        <b class="b60">資訊獲取</b>
      </div>
    </div>
    <div class="slide34-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="b65">運用</b>
        <b class="ai">AI</b>
        <b class="b66">進行資料</b>
        <b class="labelling">Labelling</b>
        <div class="div106">使用語言模型，辨識活動主辦單位撰寫的活動描述</div>
        <div class="div107">
          得到針對該活動的標籤，方便針對各種學生推薦活動
        </div>
        <img class="group-icon7" alt="" src="/static/images/public/undefined49.png" />
        <div class="stst">STST</div>
        <img class="vector-icon39" alt="" src="/static/images/public/undefined38.png" />
        <b class="b60">資料標籤</b>
        <b class="b68">標註</b>
        <img class="vector-icon52" alt="" src="/static/images/public/undefined50.png" />
        <img class="clip-path-group17" alt="" src="/static/images/public/undefined51.png" />
        <b class="b69">辨識</b>
        <img class="vector-icon53" alt="" src="/static/images/public/undefined52.png" />
        <img class="clip-path-group18" alt="" src="/static/images/public/undefined53.png" />
        <img class="clip-path-group19" alt="" src="/static/images/public/undefined54.png" />
        <img class="clip-path-group20" alt="" src="/static/images/public/undefined55.png" />
        <b class="b70">資訊領域</b>
        <b class="b71">學生組織</b>
        <b class="b72">入門環境</b>
        <b class="b73">範例：學生計算機年會</b>
        <b class="gpt">GPT</b>
        <b class="b74">-</b>
        <b class="b75">3.5</b>
        <b class="b76">-</b>
        <b class="turbo">TURBO</b>
      </div>
    </div>
    <div class="slide35-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="b61">活動推播演算法</b>
        <div class="div93">使用基於</div>
        <div class="python">Python</div>
        <div class="div94">的開源推薦系統模組</div>
        <div class="surprise">Surprise</div>
        <div class="div95">構建初步的推薦系統</div>
        <div class="div96">由於平台初期的數據缺乏</div>
        <div class="div97">故初期先引入別人調參過的參數</div>
        <div class="div98">並在平台運作後根據用戶回饋滾動式修正</div>
        <img class="vector-icon39" alt="" src="/static/images/public/undefined38.png" />
        <b class="b62">演算法</b>
        <img class="clip-path-group15" alt="" src="/static/images/public/undefined45.png" />
        <img class="clip-path-group16" alt="" src="/static/images/public/undefined46.png" />
        <img class="vector-icon48" alt="" src="/static/images/public/undefined47.png" />
        <img class="vector-icon49" alt="" src="/static/images/public/undefined48.png" />
        <div class="div99">打造一個推薦系統的流程十分複雜</div>
        <div class="div100">右圖為截自</div>
        <div class="aws">AWS</div>
        <div class="div101">的簡易推薦系統流程說明</div>
        <div class="div102">事實上</div>
        <div class="surprise1">surprise</div>
        <div class="div103">模組將為我們處理這些繁複的步驟</div>
        <div class="div104">我們只需將資料庫與</div>
        <div class="surprise2">surprise</div>
        <div class="div105">串接即可</div>
      </div>
    </div>
    <div class="slide36-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="b61">活動推播演算法</b>
        <div class="div90">運用協同過濾</div>
        <div class="collaborative-filtering">(Collaborative Filtering)</div>
        <div class="div91">當今天有兩人在生涯測驗具類似偏好分數</div>
        <div class="div92">其中一人點進的活動，將同時推薦給另外一個人</div>
        <img class="group-icon6" alt="" src="/static/images/public/undefined44.png" />
        <img class="vector-icon39" alt="" src="/static/images/public/undefined38.png" />
        <b class="b62">演算法</b>
      </div>
    </div>
    <div class="slide37-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="b58">串接</b>
        <b class="line">LINE</b>
        <b class="notify">NOTIFY</b>
        <b class="b59">進行活動推播</b>
        <div class="div83">通過串接</div>
        <div class="line-developer">line developer</div>
        <div class="div84">的</div>
        <div class="line-login">line login</div>
        <div class="div85">綁定</div>
        <div class="line1">line</div>
        <div class="div86">帳號</div>
        <div class="div87">並將使用者的興趣記錄到資料庫</div>
        <div class="div88">後續通過</div>
        <div class="line-notify">line notify</div>
        <div class="div89">推播活動通知</div>
        <img class="group-icon4" alt="" src="/static/images/public/undefined39.png" />
        <img class="group-icon5" alt="" src="/static/images/public/undefined40.png" />
        <img class="clip-path-group13" alt="" src="/static/images/public/undefined41.png" />
        <img class="clip-path-group14" alt="" src="/static/images/public/undefined42.png" />
        <img class="vector-icon41" alt="" src="/static/images/public/undefined43.png" />
        <img class="vector-icon42" alt="" src="/static/images/public/undefined43.png" />
        <img class="vector-icon39" alt="" src="/static/images/public/undefined38.png" />
        <b class="b60">活動推廣</b>
      </div>
    </div>
    <div class="slide38-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="group-icon3" alt="" src="/static/images/public/undefined36.png" />
        <img class="clip-path-group12" alt="" src="/static/images/public/undefined37.png" />
        <img class="vector-icon39" alt="" src="/static/images/public/undefined38.png" />
        <b class="b56">開源協作</b>
        <b class="b57">通過開源專案吸引技術人才加入</b>
        <div class="div81">透過將該計畫開源</div>
        <div class="div82">讓更多人因為認同我們的理念，加入</div>
        <div class="sightpath10">SightPath</div>
      </div>
    </div>
    <div class="slide39-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="vector-icon34" alt="" src="/static/images/public/undefined32.png" />
        <img class="vector-icon35" alt="" src="/static/images/public/undefined33.png" />
        <b class="b52">該怎麼合作擴展影響力？該怎麼讓</b>
        <b class="sightpath8">SightPath</b>
        <b class="b53">永續化？</b>
        <b class="b54">我們在大環境中的定位是什麼？讓我們好好探討這些問題。</b>
        <img class="vector-icon36" alt="" src="/static/images/public/undefined34.png" />
        <img class="vector-icon37" alt="" src="/static/images/public/undefined35.png" />
        <b class="part-5">Part 5</b>
        <b class="sightpath9">SightPath</b>
        <b class="b55">怎麼擴展影響力</b>
      </div>
    </div>
    <div class="slide40-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="vector-icon32" alt="" src="/static/images/public/undefined31.png" />
        <div class="div75">學生生涯規劃已經是一個長期的問題了。</div>
        <div class="div76">在</div>
        <div class="g0v3">g0v</div>
        <div class="div77">
          裡面，隨時都有人提出想法，想要解決學生生涯的事情。
        </div>
        <div class="div78">如果你們沒有完整規劃，只是重造前人的輪子，</div>
        <div class="div79">
          作一個小東西出來的話，那麼你們這個專案就不會成功。
        </div>
        <div class="div80">“</div>
        <b class="b51">-</b>
        <b class="g0v-nobody">g0v nobody</b>
      </div>
    </div>
    <div class="slide41-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <div class="sightpath7">SightPath</div>
        <div class="div71">團隊觀察到</div>
        <div class="div72">其他資訊提供者在推廣他們的內容或活動時</div>
        <b class="b48">受限於他們難以將學生妥善的分類</b>
        <div class="div73">，導致資訊推廣困難</div>
        <b class="b49">以及他們難以讓學生專注於該品牌的內容</b>
        <div class="div74">讓提供資源變成一件沒效率的事情</div>
        <b class="b50">不是有其他人在解這個問題了嗎？</b>
        <img class="vector-icon17" alt="" src="/static/images/public/undefined12.png" />
      </div>
    </div>
    <div class="slide42-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <div class="div65">提供為期十周的學長姐輔導</div>
        <div class="div66">並邀請專業人士當面與學生討論</div>
        <div class="div67">但受限於人力與人脈</div>
        <b class="b43">平台規模的擴大是一大挑戰</b>
        <b class="b44">其他平台的痛點是什麼？</b>
        <img class="clip-path-group8" alt="" src="/static/images/public/undefined26.png" />
        <img class="clip-path-group8" alt="" src="/static/images/public/undefined27.png" />
        <img class="vector-icon26" alt="" src="/static/images/public/undefined28.png" />
        <b class="dream-more1">DREAM MORE</b>
        <img class="clip-path-group10" alt="" src="/static/images/public/undefined29.png" />
        <img class="clip-path-group10" alt="" src="/static/images/public/undefined27.png" />
        <img class="vector-icon27" alt="" src="/static/images/public/undefined28.png" />
        <b class="b45">牧羊人計畫</b>
        <div class="div68">產生校系介紹內容與線上活動</div>
        <div class="div69">一次幫助很多的學生認識學系</div>
        <div class="div70">但</div>
        <b class="b46">缺乏一個平台分類學生的興趣</b>
        <b class="b47">並推薦適合的內容給他們。</b>
        <img class="vector-icon28" alt="" src="/static/images/public/undefined30.png" />
      </div>
    </div>
    <div class="slide43-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="sightpath6">SightPath</b>
        <b class="b31">在環境中的定位</b>
        <img class="vector-icon17" alt="" src="/static/images/public/undefined12.png" />
        <b class="b32">為每位學生建立專屬</b>
        <b class="b33">個人輪廓</b>
        <b class="b34">推薦給他們最契合的科系探索</b>
        <b class="b35">活動與學習資源，</b>
        <b class="b36">讓資源找到</b>
        <b class="b37">對的主人。</b>
        <b class="b38">將分散於網路上的科系探索資</b>
        <b class="b39">料與學習</b>
        <b class="b40">資源整合</b>
        <b class="b41">，讓查找資</b>
        <b class="b42">源不再是大海撈針。</b>
        <img class="vector-icon24" alt="" src="/static/images/public/undefined23.png" />
        <img class="clip-path-group7" alt="" src="/static/images/public/undefined24.png" />
        <img class="group-icon2" alt="" src="/static/images/public/undefined25.png" />
      </div>
    </div>
    <div class="slide44-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="clip-path-group2" alt="" src="/static/images/public/undefined15.png" />
        <img class="clip-path-group3" alt="" src="/static/images/public/undefined16.png" />
        <img class="vector-icon19" alt="" src="/static/images/public/undefined17.png" />
        <img class="clip-path-group4" alt="" src="/static/images/public/undefined18.png" />
        <img class="clip-path-group5" alt="" src="/static/images/public/undefined19.png" />
        <img class="vector-icon20" alt="" src="/static/images/public/undefined20.png" />
        <img class="group-icon1" alt="" src="/static/images/public/undefined21.png" />
        <img class="clip-path-group6" alt="" src="/static/images/public/undefined22.png" />
        <b class="b27">將影響力擴散</b>
        <b class="b28">出去！</b>
        <img class="vector-icon17" alt="" src="/static/images/public/undefined12.png" />
        <div class="sightpath4">SightPath</div>
        <div class="div57">可結合現有的資源</div>
        <div class="div58">從</div>
        <div class="ioh">IOH</div>
        <div class="div59">取得校系探索資料、</div>
        <div class="div60">與</div>
        <div class="dream-more">DREAM MORE</div>
        <div class="div61">合作</div>
        <div class="div62">使用</div>
        <div class="sightpath5">SightPath</div>
        <div class="div63">發展學生的興趣。</div>
        <div class="div64">透過共創、合作，一同解決問題。</div>
      </div>
    </div>
    <div class="slide45-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="vector-icon17" alt="" src="/static/images/public/undefined12.png" />
        <img class="group-icon" alt="" src="/static/images/public/undefined13.png" />
        <div class="g0v1">g0v</div>
        <div class="div50">是台灣的公民科技社群</div>
        <div class="div51">致力以開放協作的方式關注公民議題</div>
        <b class="b24">我們希望與</b>
        <b class="g0v2">g0v</b>
        <b class="b25">的夥伴共同建立</b>
        <b class="sightpath3">SightPath</b>
        <div class="div52">使平台得到更多技術支援</div>
        <img class="clip-path-group1" alt="" src="/static/images/public/undefined14.png" />
        <div class="div53">大考中心所設計的興趣量表與學系探索量表</div>
        <div class="div54">是高中輔導課常利用的測驗</div>
        <div class="div55">未來希望</div>
        <b class="b26">從大考中心取得這些測驗的授權</b>
        <div class="div56">能夠更完善的建立使用者的個人輪廓</div>
        <b class="b27">將影響力擴散</b>
        <b class="b28">出去！</b>
      </div>
    </div>
    <div class="slide46-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="vector-icon15" alt="" src="/static/images/public/undefined11.png" />
        <div class="div41">
          網路上的資訊提供者很多，但資源被利用到的機會、
        </div>
        <div class="div42">
          將活動串聯起來發揮加乘性的卻是市場是比較缺乏的。
        </div>
        <div class="div43">從內容提供、內容標籤，再到後續的推廣、行銷，</div>
        <div class="sightpath2">SightPath</div>
        <div class="div44">以合作為出發點</div>
        <div class="div45">，不創造新的內容，</div>
        <div class="div46">而是</div>
        <div class="div47">把舊的資訊撿起來推薦給適合的學生</div>
        <div class="div48">。</div>
        <div class="div49">
          正是想要彌補這個漏洞，讓每個內容都發揮他的最大價值。
        </div>
      </div>
    </div>
    <div class="slide47-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <img class="vector-icon13" alt="" src="/static/images/public/undefined10.png" />
        <b class="to-conclude">To conclude</b>
        <b class="b15">多數學生在選擇科系前，缺乏與有經驗對象交流的契機</b>
        <b class="b16">使得學生對該領域難以產生興趣。</b>
        <b class="b17">並因為缺乏該領域的經驗，他們難以獲取有幫助的資訊</b>
        <b class="b18">導致許多學生做出不適當的校系選擇而對自己的生涯感到困惑</b>
        <b class="b19">最終，他們無法充分展現自己的才華。</b>
        <b class="b20">我們的使命是引導高中生實現個性化的發展</b>
        <b class="b21">透過分析學生性向，建立個人輪廓</b>
        <b class="sightpath1">SightPath</b>
        <b class="b22">將根據學生興趣推薦資源給學生</b>
        <b class="b23">幫助他們對未來做出更明智的選擇。</b>
      </div>
    </div>
    <div class="slide48-1">
      <div class="group">
        <div class="group2">
          <img class="vector-icon10" alt="" src="/static/images/public/undefined.png" />
          <img class="vector-icon11" alt="" src="/static/images/public/undefined9.png" />
          <div class="div40">資</div>
          <b class="sightpath">SightPath</b>
          <b class="b14">共創一個資訊無落差的環境</b>
        </div>
      </div>
    </div>
    <div class="slide49-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <b class="b13">參考資料</b>
        <div class="div5">•</div>
        <div class="recommendation-systemscollabo">
          Recommendation Systems(Collaborative Filtering)
        </div>
        <div class="div6">•</div>
        <div class="httpstowardsdatasciencecom">
          https://towardsdatascience.com/brief
        </div>
        <div class="div7">-</div>
        <div class="on">on</div>
        <div class="div8">-</div>
        <div class="recommender">recommender</div>
        <div class="div9">-</div>
        <div class="systems">systems</div>
        <div class="div10">-</div>
        <div class="b86a1068a4dd">b86a1068a4dd</div>
        <img class="vector-icon2" alt="" src="/static/images/public/undefined1.png" />
        <div class="div11">•</div>
        <div class="python-django-framework">
          Python Django Framework Documentation
        </div>
        <div class="div12">•</div>
        <div class="httpsdocsdjangoprojectcom">
          https://docs.djangoproject.com/en/4.2/
        </div>
        <img class="vector-icon3" alt="" src="/static/images/public/undefined2.png" />
        <div class="div13">•</div>
        <div class="python-requests-package">
          Python Requests Package Documentation
        </div>
        <div class="div14">•</div>
        <div class="httpsrequestsreadthedocsi">
          https://requests.readthedocs.io/en/latest/
        </div>
        <img class="vector-icon4" alt="" src="/static/images/public/undefined3.png" />
        <div class="div15">•</div>
        <div class="line-messaging-api">Line Messaging API Documentation</div>
        <div class="div16">•</div>
        <div class="httpsdeveloperslinebizen">
          https://developers.line.biz/en/docs/messaging
        </div>
        <div class="div17">-</div>
        <div class="api">api/</div>
        <img class="vector-icon5" alt="" src="/static/images/public/undefined4.png" />
        <div class="div18">•</div>
        <div class="line-bot-python">Line Bot Python SDK</div>
        <div class="div19">•</div>
        <div class="httpsgithubcomlineline">https://github.com/line/line</div>
        <div class="div20">-</div>
        <div class="bot">bot</div>
        <div class="div21">-</div>
        <div class="sdk">sdk</div>
        <div class="div22">-</div>
        <div class="pythonblobmasterlinebotv3">
          python/blob/master/linebot/v3/messaging/docs/MessagingApi.md
        </div>
        <img class="vector-icon6" alt="" src="/static/images/public/undefined5.png" />
        <div class="div23">•</div>
        <div class="python-surprise-package">
          Python Surprise Package for Recommendation Systems
        </div>
        <div class="div4">•</div>
        <div class="httpsgithubcomnicolashug">
          https://github.com/NicolasHug/Surprise
        </div>
        <img class="vector-icon7" alt="" src="/static/images/public/undefined6.png" />
        <div class="div25">•</div>
        <div class="django-database-settingspostg">
          Django Database Settings(PostgreSQL)
        </div>
        <div class="div26">•</div>
        <div class="httpsstackoverflowcomques">
          https://stackoverflow.com/questions/26080303/improperlyconfigured
        </div>
        <div class="div27">-</div>
        <div class="settings">settings</div>
        <div class="div28">-</div>
        <div class="databases">databases</div>
        <div class="div29">-</div>
        <div class="is">is</div>
        <div class="div30">-</div>
        <div class="improperly">improperly</div>
        <div class="div31">-</div>
        <div class="configured">configured</div>
        <div class="div32">-</div>
        <div class="please">please</div>
        <div class="div33">-</div>
        <div class="supply">supply</div>
        <img class="vector-icon8" alt="" src="/static/images/public/undefined7.png" />
        <div class="div34">•</div>
        <div class="render-django-deployment">
          Render Django Deployment Tutorial
        </div>
        <div class="div35">•</div>
        <div class="httpsrendercomdocsdeploy">
          https://render.com/docs/deploy
        </div>
        <div class="div36">-</div>
        <div class="djangocreate">django#create</div>
        <div class="div37">-</div>
        <div class="the">the</div>
        <div class="div38">-</div>
        <div class="render">render</div>
        <div class="div39">-</div>
        <div class="app">app</div>
        <img class="vector-icon9" alt="" src="/static/images/public/undefined8.png" />
      </div>
    </div>
    <div class="slide50-1">
      <div class="group">
        <img class="vector-icon" alt="" src="/static/images/public/undefined.png" />
        <div class="div">•</div>
        <b class="b">個人</b>
        <b class="b1">：</b>
        <b class="max">Max</b>
        <b class="b2">、柒柒</b>
        <div class="div1">•</div>
        <b class="g0v">g0v</b>
        <b class="b3">：豆腐、</b>
        <b class="langmao">Langmao</b>
        <b class="b4">、</b>
        <b class="kon">KON</b>
        <b class="b5">、</b>
        <b class="anger">Anger</b>
        <div class="div2">•</div>
        <b class="design">5% design</b>
        <b class="b6">：</b>
        <b class="amy">Amy</b>
        <div class="div3">•</div>
        <b class="b7">均一</b>
        <b class="b8">：</b>
        <b class="tzu">Tzu</b>
        <b class="b9">-</b>
        <b class="yang-tsai">Yang Tsai</b>
        <div class="div4">•</div>
        <b class="b10">牧羊人計畫</b>
        <b class="b11">：皓恩</b>
        <b class="b12">特別感謝</b>
      </div>
    </div>
  </div>
</body>

</html>