{% extends "main.html" %}

{% block content %}

<div class="div_container grid">
    <div class="flex_left">
        {% if request.user.is_authenticated %}
        <p>hello {{request.user.nickname}}~</p>
        {% if request.user.is_superuser %}
        <div class="alert alert-info" role="alert">
            你擁有管理員權限
        </div>
        {% endif %}
        {% endif %}
        {% include "base/room_topics_component.html" %}

        {% if request.user.is_authenticated %}
        <br>
        <br>
        <div>
            {% include "base/notifications_component.html" %}
        </div>
        {% endif %}
    </div>

    <div class="mt-20 flex_right">
        <h5>找到 {{rooms_count}} 個相關討論串</h5>
        <a href="{% url 'create_room' %}?topic_category={{topic_category}}" class="btn btn-success">建立討論串</a>
        <hr>
        {% include "base/room_feed_component.html" %}
    </div>
</div>

{% endblock content %}