{% extends "main.html" %}


{% block content %}

{% if request.user.is_authenticated %}
<p>hello {{request.user.nickname}}~</p>
{% endif %}

<div class="div_container grid">
    
    <div>
        {% include "base/room_topics_component.html" %}
    </div>

    <div>
        <h5>找到 {{rooms_count}} 個相關討論串</h5>
        <a href="{% url 'create_room' %}?topic_category={{topic_category}}" class="btn btn-success">建立討論串</a>
        <hr>
        
        {% include "base/room_feed_component.html" %}

    </div>

    {% if request.user.is_authenticated %}
    <div>
        {% include "base/notifications_component.html" %}
    </div>
    {% endif %}

</div>

{% endblock content %}


