{% if competition_category != None %}

<h6>以"{{competition_category}}"標籤搜索的結果</h6>
{% else %}
<h6>全部比賽</h6>
{% endif %}

<h5>找到 {{competitions_count}} 個比賽</h5>
{% for competition in competitions %}
<h3 class="shad">
    <a class="link-secondary" href="{% url 'competition_info' competition.id %}">{{competition.name}}</a>
</h3>

{% for tag in competition.our_tags.all|slice:"0:8" %}
<a style="font-size: large;" href="{% url 'find_competition' %}?competition_category={{tag}}">{{tag}}</a>
{% endfor %}
{% if competition.our_tags.count %}
<br>
{% endif %}
{% for tag in competition.tags.all|slice:"0:8" %}
<a href="{% url 'find_competition' %}?competition_category={{tag}}">{{tag}}</a>
{% endfor %}

<br>
<small>籌辦組織: {{competition.agency_title}}</small>
<br>
<small>瀏覽次數: {{competition.page_views}}</small>
<br>
<small>開始報名日期: {{competition.start_time}}</small>
<br>
<small>截止日期: {{competition.end_time}}</small>
<br>
<!-- <small>標籤{{competition.tags}}</small> -->
<hr>
{% endfor %}