{% extends "main.html" %}

{% block content %}
<div class="div_container">
    <h2>{{competition.name}}</h2>
    <hr>
    <small>開始報名日期: {{competition.start_time}}</small>
    <br>
    <small>截止日期: {{competition.end_time}}</small>
    <hr>
    <small>籌辦組織: {{competition.agency_title}}</small>


    {% if competition.url != None %}
    <hr>
    <p>比賽網址: <a href="{{competition.url}}">{{competition.url}}</a></p>
    <hr>
    {% endif %}



    <hr>
    <p>標籤:</p>
    {% for tag in our_tags %}
    <a style="font-size: large;" href="{% url 'find_competition' %}?competition_category={{tag}}">{{tag}}</a>
    {% endfor %}
    <br>
    {% for tag in tags %}
    <a href="{% url 'find_competition' %}?competition_category={{tag}}">{{tag}}</a>
    {% endfor %}
    <hr>
    {{competition.guide_line_html|safe}}
</div>
{% endblock content %}