{% extends "main.html" %}

{% block contents %}
<style>
    .find_competitions_page_container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

{% if request.user.is_authenticated %}
<p>hello {{request.user.username}}~</p>
{% endif %}

<div class="find_competitions_page_container">
    
    <div>
        {% include "base/competition_tags.html" %}
        
    </div>

    <div>
        {% include "base/competition_feed.html" %}
    </div>

</div>

{% endblock contents %}