{% extends "main.html" %}

{% block contents %}

{% if request.user.is_authenticated %}
<p>hello {{request.user}}~</p>
{% endif %}


<div class="home_page_container">

    <div class="tinder">
        <div class="tinder--status">
            <i class="fa fa-remove"></i>
            <i class="fa fa-heart"></i>
        </div>

        <div class="tinder--cards">
            <div class="tinder--card">
                <h3>Demo card 1</h3>
                <p>This is a demo for Tinder like swipe cards</p>
            </div>
            <div class="tinder--card">
                <h3>Demo card 2</h3>
                <p>This is a demo for Tinder like swipe cards</p>
            </div>
            <div class="tinder--card">
                <h3>Demo card 3</h3>
                <p>This is a demo for Tinder like swipe cards</p>
            </div>
        </div>

       <!--  <div class="tinder--buttons">
            <button id="nope"><i class="fa fa-remove"></i></button>
            <button id="love"><i class="fa fa-heart"></i></button>
        </div> -->
    </div>
</div>

{% endblock contents %}