{% extends 'main.html' %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/home_page.css' %}" />
{% endblock %}
{% block content %}
    <div id="app">
    <div class="swiper-wrapper">
          {% include 'base/tinder_card.html' %}
    </div>
  </div>
{% endblock %}
{% block extraScript %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="{% static 'scripts/tinder_data.js' %}"></script>
{% endblock %}
