{% extends "main.html" %}

{% block content %}

<div class="div_container">
    <!-- <img src="{{user.avatar.url}}" alt="" style="width: 5%;"> -->
    {% if user.email != '' %}
    <h1>{{user.nickname}}</h1>
    {% else %}
    <h1>{{ user.socialaccount_set.all.0.get_provider_account }}</h1>
    {% endif %}
    
    {% if user.is_authenticated %}
    {% if request.user.id == user.id %}
    <a href="{% url 'edit_profile' request.user.id %}" class="btn btn-warning btn-sm">編輯個人檔案</a>
    {% endif %}
    {% endif %}
    <hr>
    <h3>個人簡介</h3>
    <h4>{{user.bio}}</h4>
    
    



    <br>
    <hr>
    <h3>文章:</h3>
    <br>
    <div>
        {% include "base/room_feed_component.html" %}
    </div>
</div>

{% endblock content %}