{% extends "main.html" %}

{% block contents %}

<div class="div_container">
    <div>
        <h2>{{room.name}}</h2>
        <a href="{% url 'update_room' room.id %}">編輯</a>
        <a href="{% url 'delete_room' room.id %}">刪除</a>
        <hr>
        <small>主題: <a href="{% url 'chatroom_home' %}?topic_category={{room.topic.name}}">{{room.topic.name}}</a></small>
        <hr>
        <p>討論串內容: <br>{{room.description}}</p>
        <small>建立時間: {{room.created}}</small>
        <br>
        <small>最近更新: {{room.updated}}</small>
        <hr>
        <div class="">
            <h4>評論: </h4>
            {% for message in room_messages %}
            <small>@{{message.user.username}}</small>
            <small>{{message.created|timesince}} ago</small>
            {% if request.user == message.user %}
            <a href="{% url 'delete_message' message.id %}">收回訊息</a>
            {% endif %}
            <p>{{message.body}}</p>
            {% endfor %}
        </div>

        

        {% if request.user.is_authenticated %}
        <div class="">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="留言......">
            </form>
        </div>
        {% else %}
        {#TODO: 登入完後導向原本的頁面，而非首頁 #}
        <a href="{% url 'login_page' %}">登入才可以留言喔~</a>
        {% endif %}
    </div>

    <div class="">
        <h3>參與者</h3>
        <hr>
        {% for user in participants %}
        <div>
            <p>{{user.username}}</p>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock contents %}