{% extends "main.html" %}
{% load static %}


{% block extra_head %}
<!-- chatroom page css  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- chatroom page css -->
<link rel="stylesheet" href="{% static 'styles/chatroomhome.css' %}">
{% endblock extra_head %}

{% block content %}

<div class="fb-post1-container" id="room_{{ room.id }}">
  <div class="fb-p1-main fb-post1 room_left">
    {% if request.user == room.host or request.user.is_superuser %}
    <div class="article-actions">
      <a href="{% url 'update_room' room.id %}" class="btn btn-primary btn-sm">編輯</a>
      <a href="{% url 'delete_room' room.id %}" class="btn btn-danger btn-sm">刪除</a>
    </div>
    {% endif %}

    <div class="post-title">
      <a href="{% url 'profile' room.host.id %}">
        <img src="{% static 'images/user.png' %}" alt="user picture">
      </a>
      <a href="{% url 'profile' room.host.id %}" style="font-size: 18px;">{{room.host.nickname}}</a>

      <!-- <ul>
        {# room 建立時間 #}
        {# room tag #}
        <li>
          <span>{{room.created}}</span>
          <a href="{% url 'chatroom_home' %}?topic_category={{room.topic.name}}"
            class="btn border border-2 border-success btn-sm" style="margin-left: 10px;">
            {{room.topic.name}}
          </a>
        </li>
      </ul> -->

      {# room tag #}

      <!-- <a href="{% url 'chatroom_home' %}?topic_category={{room.topic.name}}"
        class="btn btn-outline-secondary minw-40">{{room.topic.name}}</a> -->

      <div class="container mt-4">
        <div class="card bg-light p-3 rounded mx-0">
          {{ room.host.bio }}
          <!-- <p class="card-text text-break">{{ room.description|linebreaks }}</p> -->
        </div>
      </div>
    </div>

    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="text-start">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="room_right">
    <div class="mt-30">
      <h5>主題: <a href="{% url 'chatroom_home' %}?topic_category={{room.topic.name}}"
          class="btn btn-outline-secondary minw-40 btn-sm">{{room.topic.name}}</a></small>
        <h2>{{room.name}}</h2>
        <h5>作者: <a href="{% url 'profile' room.host.id %}"
            class="btn btn-outline-primary btn-sm">{{room.host.nickname}}</a>
        </h5>
        {% if request.user == room.host or request.user.is_superuser %}
        <a href="{% url 'update_room' room.id %}" class="btn btn-primary btn-sm">編輯</a>
        <a href="{% url 'delete_room' room.id %}" class="btn btn-danger btn-sm">刪除</a>
        {% endif %}
        <hr>

        <h4>討論串內容</h4>
        <p>{{room.description|linebreaks}}</p>
        <small>建立時間: {{room.created}}</small>
        <br>
        <small>最近更新: {{room.updated}}</small>
        <hr>
        <div>
          <h4>評論</h4>
          {# 依照用戶使否按讚，顯示實心或空心的讚 #}
          {% if request.user in room.likes.all %}
          <a href="{% url 'like_room' room.id %}">
            <i class="fa-solid fa-thumbs-up fa-lg" style="color: #1366f6;"></i>
            {{ room.likes.count }}
          </a>
          {% else %}
          <a href="{% url 'like_room' room.id %}">
            <i class="fa-regular fa-thumbs-up fa-lg" style="color: #1366f6;"></i>
            {{ room.likes.count }}
          </a>
          {% endif %}

          {% for message in room_messages %}
          <small><a href="{% url 'profile' message.user.id %}">@{{message.user.nickname}}</a></small>
          <small>{{message.created|timesince}} ago</small>
          {% if request.user == message.user or request.user.is_superuser %}
          <a href="{% url 'delete_message' message.id %}">收回訊息</a>
          {% endif %}
          <p>{{message.body}}</p>
          {% endfor %}
        </div>


        {% if request.user.is_authenticated %}
        <div>
          <form method="POST" action="">
            {% csrf_token %}
            <textarea class="form-inline" name="body" placeholder="留言..."></textarea>
          </form>
        </div>
        {% else %}
        {#TODO: 登入完後導向原本的頁面，而非首頁 #}
        <a href="{% url 'login_page' %}">登入才可以留言喔~</a>
        {% endif %}
    </div>

    <div class="mt-30">
      <h3>參與者</h3>
      <hr>
      {% for user in participants %}
      <div>
        <a href="{% url 'profile' user.id %}">{{user.nickname}}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock content %}

{% block extraScript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
{% endblock extraScript %}