{% load static %}

{% for competition in competitions %}

<div class="Wrapper tinder--card" id="{{competition.id}}">
    <div class="TitleBar">
        <a class="SitconX" href="{% url 'competition_info' competition.id %}">
            {{competition.name}}</a>
    </div>
    <div class="TagBar tags_all">
        {% for tag in competition.tags.all|slice:"0:8" %}
        <div class="TagKind">
            <a class="Tag" href="{% url 'find_competitions' %}?competition_category={{tag}}">
                {{tag}}</a>
        </div>
        {% endfor %}
    </div>
    
    <div class="ShortDescription">
        <img draggable="false" src="{{competition.cover_img_url}}" alt="">
        {% if competition.agency_title != None %}
        <p class="text-light">籌辦組織: {{competition.agency_title}}</p>
        {% endif %}
        <p class="text-light">瀏覽次數: {{competition.page_views}}</p>
        <p class="text-light">開始報名日期: {{competition.start_time}}</p>
        <p class="text-light">截止日期: {{competition.end_time}}</p>
        
    </div>

    <div class="SeeMoreButton">
        <div class="Frame6">
            <img class="Ellipse1" src="{% static 'images/mascot.png' %}" />
            <div class="Sitcon">SightPath</div>
        </div>
        <div class="Button">
            <a class="Button text-dark" href="{{ competition.url }}" target="_blank" rel="noopener noreferrer">了解詳細</a>
        </div>
    </div>
</div>

{% endfor %}

<img class="loading" src="{% static 'images/user_profile_img/loading.gif' %}" />