{% for competition in competitions %}
<div class="tinder--card">
    <h4>
        <a class="text-info noHammer" href="{% url 'competition_info' competition.id %}">{{competition.name}}</a>
    </h4>

    <div class="tags_all noHammer">
        {% for tag in competition.tags.all %}
        <a class="noHammer" href="{% url 'find_competitions' %}?competition_category={{tag}}">{{tag}}</a>
        {% endfor %}
    </div>

    <p class="text-light">籌辦組織: {{competition.agency_title}}</p>
    <p class="text-light">瀏覽次數: {{competition.page_views}}</p>
    <p class="text-light">開始報名日期: {{competition.start_time}}</p>
    <p class="text-light">截止日期: {{competition.end_time}}</p>
    <!--  <p>標籤: {{competition.tags}}</p> -->
</div>
{% endfor %}